Sam Ellis

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

I wouldnt bother reading this one. I just take the dataset and delete classes .33 / .66. The reasoning behind this is explained in the report.

In [6]:
label_path = '/elpv-dataset/labels.csv'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(label_path, delim_whitespace=True, names=['path', 'class', 'type'])
df.drop('type', inplace=True, axis=1)

df.drop(df.loc[df['class'] == 1/3].index, axis=0, inplace=True)
df.drop(df.loc[df['class'] == 2/3].index, axis=0, inplace=True)
print(df['class'].value_counts())

0.0    1508
1.0     715
Name: class, dtype: int64

In [ ]:

df = pd.get_dummies(df, columns = ['class'])
test = df.sample(frac = .2, replace=False, random_state=69)
df.drop(test.index, axis=0, inplace=True)
print(df.shape)
print(test.shape)
df.to_csv('train', index=False)
test.to_csv('test', index=False)

(1778, 3)
(445, 3)